
.product-name strong {
    font-size: 18px;
}
.price-box {
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    margin: 20px 0px;
    padding: 10px 0px;
    color: red;
}
.product-info {
    text-align: left;
    padding: 0px 0px 0px 40px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.actions button {
    background: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 0px 20px 0px 0px;
    height: 50px;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #000;
}
.actions {
    border-top: 5px solid #f3f3f3;
    padding: 20px 0px;
}